[submodule "echo_server/micropython"]
	path = echo_server/micropython
	url = git@github.com:jasperdifran/micropython.git
[submodule "echo_server/libnfs"]
	path = echo_server/libnfs
	url = git@github.com:jasperdifran/libnfs.git
[submodule "echo_server/musllibc"]
	path = echo_server/musllibc
	url = git@github.com:jasperdifran/musllibc.git